Noderedflow

[{"id":"d7700654.e3d638","type":"tab","label":"Welcome page","disabled":false,"info":""},{"id":"29d547f.05eafb8","type":"tab","label":"Homepage","disabled":false,"info":""},{"id":"e89623dc.8bed3","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"58d6cccf.091644","type":"tab","label":"Open weather","disabled":false,"info":""},{"id":"c40651e.d10c9b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"glgcpo.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e582704.c6c849","type":"ui_tab","z":"","name":"Lights","icon":"wb_incandescent","order":8,"disabled":false,"hidden":false},{"id":"426ddef5.c5659","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Kailash UI","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d31ecbe1.64cc48","type":"ui_group","z":"","name":"Controls","tab":"b14ab3d4.73f3f","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ebad711.079198","type":"ui_tab","z":"","name":"Humidity","icon":"grain","order":5,"disabled":false,"hidden":false},{"id":"8a60946d.f6ac58","type":"ui_tab","z":"","name":"Soil Moisture","icon":"local_florist","order":6,"disabled":false,"hidden":false},{"id":"9887f356.e50b3","type":"ui_group","z":"","name":"Farm-Soil Moisture","tab":"8a60946d.f6ac58","order":1,"disp":true,"width":"6","collapse":false},{"id":"4895c03e.09251","type":"ui_group","z":"","name":"Farm-Temperature","tab":"27e51273.89f12e","order":3,"disp":true,"width":"6","collapse":false},{"id":"b14ab3d4.73f3f","type":"ui_tab","z":"","name":"Motor","icon":"nature","order":7,"disabled":false,"hidden":false},{"id":"a5fac5c1.b30268","type":"ui_group","z":"","name":"Farm-humidity","tab":"5ebad711.079198","order":1,"disp":true,"width":"6","collapse":false},{"id":"27e51273.89f12e","type":"ui_tab","z":"","name":"Temperature","icon":"wb_sunny","order":4,"disabled":false,"hidden":false},{"id":"d9d33e10.19d34","type":"ui_group","z":"","name":"Lights","tab":"e582704.c6c849","order":1,"disp":true,"width":"6","collapse":false},{"id":"62f454f9.5941ec","type":"ui_tab","z":"","name":"Live Weather","icon":"wb_cloudy","order":3,"disabled":false,"hidden":false},{"id":"26be248e.99de0c","type":"ui_group","z":"","name":"Weather Details","tab":"62f454f9.5941ec","order":1,"disp":true,"width":"9","collapse":false},{"id":"c11978e2.efd9b8","type":"ui_tab","z":"","name":"Welcome","icon":"nature_people","order":1,"disabled":false,"hidden":false},{"id":"eb923859.540fe8","type":"ui_group","z":"","name":"Welcome, User","tab":"c11978e2.efd9b8","order":1,"disp":true,"width":"8","collapse":false},{"id":"5594ee31.95b1b","type":"ui_tab","z":"","name":"Homepage","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"9384ec5a.4dd1c","type":"ui_group","z":"","name":"Home page","tab":"5594ee31.95b1b","order":1,"disp":true,"width":"12","collapse":false},{"id":"f287d085.9c477","type":"ibmiot in","z":"e89623dc.8bed3","authentication":"apiKey","apiKey":"c40651e.d10c9b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Device1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":80,"wires":[["6782359c.3f774c","1f03d314.edf54d","17df52df.a530cd","96bc333d.2ab1"]]},{"id":"6782359c.3f774c","type":"debug","z":"e89623dc.8bed3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":400,"wires":[]},{"id":"1f03d314.edf54d","type":"function","z":"e89623dc.8bed3","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["6782359c.3f774c","8408040b.5242e8","c25374c6.9c68a8"]]},{"id":"17df52df.a530cd","type":"function","z":"e89623dc.8bed3","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["6782359c.3f774c","6b904b1a.02d3d4","bfed73a3.fe248"]]},{"id":"96bc333d.2ab1","type":"function","z":"e89623dc.8bed3","name":"Soil moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["6782359c.3f774c","25747e70.5b0bc2","5a20759.bd36e8c"]]},{"id":"8408040b.5242e8","type":"ui_gauge","z":"e89623dc.8bed3","name":"","group":"4895c03e.09251","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":60,"wires":[]},{"id":"25747e70.5b0bc2","type":"ui_gauge","z":"e89623dc.8bed3","name":"","group":"9887f356.e50b3","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":260,"wires":[]},{"id":"c25374c6.9c68a8","type":"ui_chart","z":"e89623dc.8bed3","name":"","group":"4895c03e.09251","order":3,"width":0,"height":0,"label":"T.chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":100,"wires":[[]]},{"id":"6b904b1a.02d3d4","type":"ui_chart","z":"e89623dc.8bed3","name":"","group":"a5fac5c1.b30268","order":3,"width":0,"height":0,"label":"H.chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":200,"wires":[[]]},{"id":"5a20759.bd36e8c","type":"ui_chart","z":"e89623dc.8bed3","name":"","group":"9887f356.e50b3","order":3,"width":0,"height":0,"label":"S.chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":300,"wires":[[]]},{"id":"bfed73a3.fe248","type":"ui_gauge","z":"e89623dc.8bed3","name":"","group":"a5fac5c1.b30268","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":160,"wires":[]},{"id":"58e2dfc6.03098","type":"ibmiot out","z":"e89623dc.8bed3","authentication":"apiKey","apiKey":"c40651e.d10c9b","outputType":"cmd","deviceId":"Device2","deviceType":"Sim","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":80,"y":660,"wires":[]},{"id":"1661405d.0ba82","type":"ui_button","z":"e89623dc.8bed3","name":"","group":"d31ecbe1.64cc48","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"white","bgcolor":"Green","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":80,"y":540,"wires":[["58e2dfc6.03098","5ceda7ce.998458","b4bd700d.b67c5","c6ba2dff.cb37e"]]},{"id":"ac7783b5.5c87b","type":"ui_button","z":"e89623dc.8bed3","name":"","group":"d31ecbe1.64cc48","order":3,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"White","bgcolor":"Red","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":210,"y":620,"wires":[["58e2dfc6.03098","8f3266ff.c14348","b4bd700d.b67c5","c6ba2dff.cb37e"]]},{"id":"5ceda7ce.998458","type":"ui_toast","z":"e89623dc.8bed3","position":"dialog","displayTime":"2","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"\"Motor turned on\"","name":"Motor On","x":340,"y":520,"wires":[[]]},{"id":"8f3266ff.c14348","type":"ui_toast","z":"e89623dc.8bed3","position":"dialog","displayTime":"2","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"\"Motor turned off\"","name":"Motor Off","x":440,"y":620,"wires":[[]]},{"id":"f8331857.e12e38","type":"ui_button","z":"e89623dc.8bed3","name":"","group":"d9d33e10.19d34","order":3,"width":0,"height":0,"passthru":false,"label":"Light OFF","tooltip":"","color":"","bgcolor":"Blue","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":220,"y":740,"wires":[["a0052d7d.950f4","5828317c.c9791","58e2dfc6.03098"]]},{"id":"87ea69e2.4e6f78","type":"ui_button","z":"e89623dc.8bed3","name":"","group":"d9d33e10.19d34","order":2,"width":0,"height":0,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"Blue","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":220,"y":700,"wires":[["9975c1cd.bfa9a","5828317c.c9791","58e2dfc6.03098"]]},{"id":"9975c1cd.bfa9a","type":"ui_toast","z":"e89623dc.8bed3","position":"dialog","displayTime":"2","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"\"Lights turned on\"","name":"Lights on","x":380,"y":700,"wires":[[]]},{"id":"a0052d7d.950f4","type":"ui_toast","z":"e89623dc.8bed3","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"\"Lights turned off\"","name":"Lights off","x":340,"y":800,"wires":[[]]},{"id":"3b1c9805.9db3a8","type":"inject","z":"58d6cccf.091644","name":"Request Weather Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":220,"wires":[["12107713.010f59","6899ee5c.e418e"]]},{"id":"12107713.010f59","type":"http request","z":"58d6cccf.091644","name":"OpenWeather API","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Coimbatore,IN&units=metric&APPID=8b499a744772fca290603cccc054235d","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":60,"wires":[["f2f3f7b8.0b2448","c1b29256.5b103","d0d5021f.9ba96","ae881580.309348"]]},{"id":"f2f3f7b8.0b2448","type":"function","z":"58d6cccf.091644","name":"Temperature in Celsius","func":"\nvar weather=JSON.parse(msg.payload);\n \n\nvar newMsg = { payload: weather.main.temp+\"°Celsius heat at Coimbatore\"};\n \n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":340,"y":20,"wires":[["1ffdf7ff.1c1028"]]},{"id":"1ffdf7ff.1c1028","type":"debug","z":"58d6cccf.091644","name":"","active":true,"console":"false","complete":"false","x":610,"y":60,"wires":[]},{"id":"c1b29256.5b103","type":"function","z":"58d6cccf.091644","name":"SunRise Time","func":"// Parse OpenWeatherMap JSON answer\nvar weather=JSON.parse(msg.payload);\n\n// Create new JavaScript Date object from timestamp\n// multiply by 1000 so argument is milliseconds, not seconds.\nvar date = new Date(weather.sys.sunrise * 1000);\nvar timeZoneOffset = -1 * date.getTimezoneOffset()/60;\nvar hours = date.getHours();\n// add leading 0 to handle single digits\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\n\n// Format time like this: 12:45:23 \n// Use last 2 digits, so leading zero gets cut off for double digit numbers.\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\n\n// Create string with embedded data\nvar newMsg = { payload: \"Sunrise at: \"+ formattedTime + \" (UTC)\"};\n \n// Return formatted message string\nreturn newMsg;\n","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["1ffdf7ff.1c1028"]]},{"id":"d0d5021f.9ba96","type":"function","z":"58d6cccf.091644","name":"Sunset Time","func":"// Parse OpenWeatherMap JSON answer\nvar weather=JSON.parse(msg.payload);\n\n// Create new JavaScript Date object from timestamp\n// multiply by 1000 so argument is milliseconds, not seconds.\nvar date = new Date(weather.sys.sunset * 1000);\nvar timeZoneOffset = -1 * date.getTimezoneOffset()/60;\nvar hours = date.getHours();\n// add leading 0 to handle single digits\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\n\n// Format time like this: 12:45:23 \n// Use last 2 digits, so leading zero gets cut off for double digit numbers.\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\n\n// Create string with embedded data\nvar newMsg = { payload: \"Sunset at: \"+ formattedTime + \" (UTC)\"};\n \n// Return formatted message string\nreturn newMsg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["1ffdf7ff.1c1028"]]},{"id":"ae881580.309348","type":"function","z":"58d6cccf.091644","name":"Humidity @ CBE","func":"var weather=JSON.parse(msg.payload);\n \n\nvar newMsg = { payload:weather.main.humidity+\"% humidity at Coimbatore\"};\n \nreturn newMsg;\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["1ffdf7ff.1c1028"]]},{"id":"6899ee5c.e418e","type":"openweathermap","z":"58d6cccf.091644","name":"Weather Api","wtype":"current","lon":"","lat":"","city":"Coimbatore","country":"IN","language":"en","x":290,"y":280,"wires":[["e178c3ad.9cbeb","5f5e2dc0.80a6d4","8582c95e.6113b8","7beccac5.47e104","e66350ba.0ae3a","a80dabc3.8b1fc8"]]},{"id":"5f5e2dc0.80a6d4","type":"function","z":"58d6cccf.091644","name":"Weather Data","func":"msg.payload=msg.payload.tempc\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["b77e7e12.fa1fd"]]},{"id":"e178c3ad.9cbeb","type":"debug","z":"58d6cccf.091644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":340,"wires":[]},{"id":"b77e7e12.fa1fd","type":"ui_gauge","z":"58d6cccf.091644","name":"","group":"26be248e.99de0c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature at Coimbatore","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"9c0fe994.76ee18","type":"ui_text","z":"58d6cccf.091644","group":"26be248e.99de0c","order":5,"width":0,"height":0,"name":"","label":"Windspeed (M/s)","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":300,"wires":[]},{"id":"8582c95e.6113b8","type":"function","z":"58d6cccf.091644","name":"Wind data","func":"msg.payload=msg.payload.windspeed\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["9c0fe994.76ee18"]]},{"id":"7beccac5.47e104","type":"function","z":"58d6cccf.091644","name":"Wind Direction","func":"msg.payload=msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["c177647e.70ba28"]]},{"id":"c177647e.70ba28","type":"ui_text","z":"58d6cccf.091644","group":"26be248e.99de0c","order":6,"width":0,"height":0,"name":"","label":"Wind blows in the direction of(Meteorological co-ordinates)","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":340,"wires":[]},{"id":"e66350ba.0ae3a","type":"function","z":"58d6cccf.091644","name":"Clouds","func":"msg.payload=msg.payload.clouds\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["c7976bc1.3f01f8"]]},{"id":"c7976bc1.3f01f8","type":"ui_text","z":"58d6cccf.091644","group":"26be248e.99de0c","order":7,"width":0,"height":0,"name":"","label":"Clouds (%)","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":400,"wires":[]},{"id":"c16905c1.78f3d8","type":"ui_text","z":"d7700654.e3d638","group":"eb923859.540fe8","order":1,"width":"8","height":"8","name":"","label":"Hello there user, Welcome to the new era of developed agriculture. This app that facilitates, live monitoring and control over your farm. To know further details click on \"get started\"!","format":"","layout":"row-left","x":690,"y":180,"wires":[]},{"id":"ae8290.429ccd7","type":"ui_button","z":"d7700654.e3d638","name":"","group":"eb923859.540fe8","order":2,"width":0,"height":0,"passthru":false,"label":"Get started","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":170,"y":320,"wires":[["6909fa12.189d84"]]},{"id":"6909fa12.189d84","type":"ui_ui_control","z":"d7700654.e3d638","name":"","events":"all","x":140,"y":240,"wires":[["c16905c1.78f3d8"]]},{"id":"c23ffe75.45516","type":"ui_text","z":"29d547f.05eafb8","group":"9384ec5a.4dd1c","order":1,"width":0,"height":0,"name":"","label":"Touch to see what happens","format":"","layout":"row-spread","x":480,"y":120,"wires":[]},{"id":"7c10d704.816ad8","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":2,"width":"0","height":"0","passthru":false,"label":"Live weather","tooltip":"","color":"white","bgcolor":"blue","icon":"cloud","payload":"{\"tab\":\"Live Weather\"}","payloadType":"json","topic":"","x":110,"y":120,"wires":[["e57cca71.6592a8"]]},{"id":"41bc96a9.d71fb8","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":3,"width":"0","height":"0","passthru":false,"label":"Temperature","tooltip":"","color":"white","bgcolor":"blue","icon":"wb_sunny","payload":"{\"tab\":\"Temperature\"}","payloadType":"json","topic":"","x":90,"y":360,"wires":[["e57cca71.6592a8"]]},{"id":"d85ad1e1.b4915","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":4,"width":"0","height":"0","passthru":false,"label":"Humidity","tooltip":"","color":"white","bgcolor":"blue","icon":"grain","payload":"{\"tab\":\"Humidity\"}","payloadType":"json","topic":"","x":100,"y":420,"wires":[["e57cca71.6592a8"]]},{"id":"eee9aaee.305918","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":5,"width":"0","height":"0","passthru":false,"label":"Soil moisture","tooltip":"","color":"white","bgcolor":"blue","icon":"local_florist","payload":"{\"tab\":\"Soil Moisture\"}","payloadType":"json","topic":"","x":110,"y":180,"wires":[["e57cca71.6592a8"]]},{"id":"ba393f57.f6996","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":6,"width":"0","height":"0","passthru":false,"label":"Motor","tooltip":"","color":"white","bgcolor":"blue","icon":"nature","payload":"{\"tab\":\"Motor\"}","payloadType":"json","topic":"","x":50,"y":220,"wires":[["e57cca71.6592a8"]]},{"id":"c7cf7d94.88b84","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":7,"width":"0","height":"0","passthru":false,"label":"lights","tooltip":"","color":"white","bgcolor":"blue","icon":"wb_incandescent","payload":"{\"tab\":\"Lights\"}","payloadType":"json","topic":"","x":50,"y":280,"wires":[["e57cca71.6592a8"]]},{"id":"e57cca71.6592a8","type":"ui_ui_control","z":"29d547f.05eafb8","name":"","events":"all","x":320,"y":260,"wires":[["c23ffe75.45516"]]},{"id":"48c46775.d957e8","type":"ui_button","z":"58d6cccf.091644","name":"","group":"26be248e.99de0c","order":1,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":70,"y":520,"wires":[["de16fbe0.dd28d8"]]},{"id":"de16fbe0.dd28d8","type":"ui_ui_control","z":"58d6cccf.091644","name":"Live weather back","events":"change","x":170,"y":420,"wires":[["e178c3ad.9cbeb"]]},{"id":"10ede663.41d05a","type":"ui_button","z":"e89623dc.8bed3","name":"b-temp","group":"4895c03e.09251","order":1,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":640,"y":160,"wires":[["d87ea81.07abe58"]]},{"id":"ec8d0709.cfafa8","type":"ui_button","z":"e89623dc.8bed3","name":"b-hum","group":"a5fac5c1.b30268","order":1,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"Black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":630,"y":120,"wires":[["d87ea81.07abe58"]]},{"id":"90d9e6d9.e21988","type":"ui_button","z":"e89623dc.8bed3","name":"b-sm","group":"9887f356.e50b3","order":1,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":630,"y":80,"wires":[["d87ea81.07abe58"]]},{"id":"d87ea81.07abe58","type":"ui_ui_control","z":"e89623dc.8bed3","name":"","events":"all","x":660,"y":360,"wires":[["6782359c.3f774c"]]},{"id":"c6cdd91e.d90f48","type":"ui_button","z":"e89623dc.8bed3","name":"b-motor","group":"d31ecbe1.64cc48","order":1,"width":"2","height":"1","passthru":false,"label":"back","tooltip":"","color":"black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":640,"y":460,"wires":[["c8ec8086.6622d"]]},{"id":"7a53c408.0c35dc","type":"ui_button","z":"e89623dc.8bed3","name":"b-lights","group":"d9d33e10.19d34","order":1,"width":"2","height":"1","passthru":false,"label":"back","tooltip":"","color":"black","bgcolor":"","icon":"arrow_back","payload":"{\"tab\":\"Homepage\"}","payloadType":"json","topic":"","x":600,"y":860,"wires":[["18738e09.49aee2"]]},{"id":"b4bd700d.b67c5","type":"debug","z":"e89623dc.8bed3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":580,"wires":[]},{"id":"5828317c.c9791","type":"debug","z":"e89623dc.8bed3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":740,"wires":[]},{"id":"c8ec8086.6622d","type":"ui_ui_control","z":"e89623dc.8bed3","name":"","events":"change","x":520,"y":520,"wires":[["b4bd700d.b67c5"]]},{"id":"18738e09.49aee2","type":"ui_ui_control","z":"e89623dc.8bed3","name":"","events":"change","x":520,"y":800,"wires":[["5828317c.c9791"]]},{"id":"e5fccf58.a044d","type":"ui_button","z":"29d547f.05eafb8","name":"","group":"9384ec5a.4dd1c","order":7,"width":"2","height":"1","passthru":false,"label":"Exit","tooltip":"","color":"black","bgcolor":"","icon":"close","payload":"{\"tab\":\"Welcome\"}","payloadType":"json","topic":"","x":120,"y":80,"wires":[["e57cca71.6592a8"]]},{"id":"a80dabc3.8b1fc8","type":"function","z":"58d6cccf.091644","name":"Detail","func":"msg.payload=msg.payload.description\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["39c792a0.cb13de"]]},{"id":"39c792a0.cb13de","type":"ui_text","z":"58d6cccf.091644","group":"26be248e.99de0c","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":460,"wires":[]},{"id":"c6ba2dff.cb37e","type":"mytimeout","z":"e89623dc.8bed3","name":"","outtopic":"","outsafe":"{\"command\":\"motoron\"}","outwarning":"Warning! motor ran for 30 mins","outunsafe":"{\"payload\":\"stop\"}","warning":"1800","timer":"3600","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":170,"y":460,"wires":[["84e7690c.528838"],["6734b3ed.50b1ec"]]},{"id":"6734b3ed.50b1ec","type":"ui_text","z":"e89623dc.8bed3","group":"d31ecbe1.64cc48","order":4,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":460,"wires":[]},{"id":"84e7690c.528838","type":"ui_toast","z":"e89623dc.8bed3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":270,"y":400,"wires":[]}]
